#titulo{
    color: dodgerblue;
}

.Azul{
    color: lightblue;
}

h1{
    color: aqua;
    font-family: Arial, Helvetica, sans-serif
}

p{
    color: cadetblue;
}

h1{
    color: darkcyan;
}

.titulos-grandes{
    font-size: 50px;
}
